.form-register {
    width: 30%;
    margin: 20px auto;
    margin-top: 1%;
    flex-direction: column;
    
}

.form-register mat-form-field {
    width: 100%;
    
}

.logo {
    margin-top: 10%;
    margin-left: 44%;
    
}
