<!--Logo-->
<img class="logo" src="assets/Logo.png" alt="logo">

<!--Form-->
<form class="form-personalinfo">
    <mat-form-field style="width: 48%;">
        <mat-label>Nombre</mat-label>
        <input [(ngModel)]="nombre" name="nombre" type="text" matInput placeholder="Ex. Nicolas">
    </mat-form-field>

    <mat-form-field style="margin-left: 4%; width: 48%;">
        <mat-label>Apellido</mat-label>
        <input [(ngModel)]="apellido" name="apellido" type="text" matInput placeholder="Ex. Rodriguez">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>País</mat-label>
        <input [(ngModel)]="pais" name="text" type="text" matInput placeholder="Ex. Colombia">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" name="email" type="email" matInput placeholder="Ex. nicolas@imagine.com">
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input [(ngModel)]="password" name="password" type="password" matInput>
    </mat-form-field>

    <!--Button-->
<button mat-flat-button color="primary" style="width: 100%;" (click)="navigateWelcomePage()">Login</button>
<p style="margin-left: 25%; margin-top: 4%;">¿Ya tienes cuenta? <button mat-button color="primary" style="text-decoration-line: underline;" (click)="navigateLogin()">Iniciar sesión</button> </p>
</form>
